.classpath
.project
.settings
.idea/
.iml/
.DS_Store
**/target/
*.pyc
*.py~
**/*.iml
.hg
.hgignore
.hgtags
derby.log
pass.txt
velocity.log*
rebel.xml
rebel-remote.xml
out
migrations/
logs/

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*