{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="well row">
        <div class="col-md-3">
            <div class="row">
                <h2>CataLogs</h2>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCatalog">Add
                    CataLog
                </button>
                <button type="button" class="btn btn-primary">Del
                    CataLog
                </button>
                <div id="tree"></div>
            </div>
            <div class="row">
                <h2>Columns</h2>
            </div>
        </div>
        <div class="col-md-9">
            <h2>WareHouse</h2>
            <a class="btn btn-link" href="/query/catalog/add">WareHouse</a>
        </div>
    </div>
    <div class="modal fade" id="addCatalog" tabindex="-1" role="dialog" aria-labelledby="addCatalogLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addCatalogLabel">Add CataLog</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="catalog">Catalog Name:</label>
                        <input type="text" class="form-control" id="catalog">
                    </div>
                    <div class="input-group">
                        <label for="connecter">Connecter Name:</label>
                        <input type="text" class="form-control" id="connecter">
                    </div>
                    <div class="input-group">
                        <label for="connecter">Is Public:</label>
                        <input type="checkbox" style='margin:10px' id="public">
                    </div>
                    <label for="connecter">Properties:</label>
                    <dev id="propertiesGroup">

                    </dev>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://jonmiles.github.io/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script>
        $(function () {

            $.fn.initInputGroup = function (options) {
                var c = $.extend({
                    widget: 'input',
                    add: "<span class=\"glyphicon glyphicon-plus\"></span>",
                    del: "<span class=\"glyphicon glyphicon-minus\"></span>",
                    field: '',
                    data: []
                }, options);

                var _this = $(this);
                addInputGroup(1);

                function addInputGroup(order) {
                    var inputGroup = $("<div class='input-group' style='margin: 5px 0'></div>");
                    var inputGroupNameAddon = $("<span class='input-group-addon'>Name</span>");
                    var inputGroupValueAddon = $("<span class='input-group-addon'>Value</span>");
                    var nameWidget, valueWidget;
                    nameWidget = $("<input class='form-control' type='text'/>");
                    valueWidget = $("<input class='form-control' type='text'/>");
                    if (c.data[order - 1]) {
                        nameWidget.val(c.data[order - 1]["name"]);
                        valueWidget.val(c.data[order - 1]["value"]);
                    }
                    var inputGroupBtnAddon = $("<span class='input-group-btn'></span>");
                    if (c.field.length == 0) {
                        nameWidget.prop('name', c.widget + 'Data[]');
                        valueWidget.prop('name', c.widget + 'Data[]');
                    } else {
                        nameWidget.prop('name', c.field + '[]["name"]');
                        valueWidget.prop('name', c.field + '[]["value"]');
                    }
                    var addBtn = $("<button class='btn btn-default' type='button'>" + c.add + "</button>");
                    addBtn.appendTo(inputGroupBtnAddon).on('click', function () {
                        if ($(this).html() == c.del) {
                            $(this).parents('.input-group').remove();
                        } else if ($(this).html() == c.add) {
                            $(this).html(c.del);
                            addInputGroup(order + 1);
                        }
                    });

                    inputGroup.append(inputGroupNameAddon).append(nameWidget).append(inputGroupValueAddon).append(valueWidget).append(inputGroupBtnAddon);
                    _this.append(inputGroup);
                    if (order + 1 > c.data.length) {
                        return;
                    }
                    addBtn.trigger('click');
                }

            };
            $('#propertiesGroup').initInputGroup({
                'widget': 'input',
                'field': 'data',
                'data': [{"name": "pro1", "value": "value1"}, {"name": "pro2", "value": "value2"}]
            });
            var data1 = {{ catalogs|tojson }};
            var data = [ { "text": "Child 1", "lazyload": true }, { "text": "Child 2", "iri": "http://bbl.health/domUD1UN1h", "lazyload": true } ];
            $('#tree').treeview({
                data: data,
                levels: 1,
                showTags: false,
                loadingIcon: "fa fa-hourglass",
                lazyload: function (node, display) {
                    alert("111")
                    display(data);
                },
                onNodeSelected:function (event, data) {
                    alert("111")
                    alert(data.text);
                },

            });
        });


    </script>
{% endblock %}